<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage Site</title>
</head>
<body>
    <h1>This is a simple Django-powered file storage web app.</h1>
    
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}! You are logged in.</h2>

        <button onclick="location.href='{% url 'logout' %}'">Logout of Account</button>

        <button onclick="   location.href='{% url 'upload' %}'">Upload Files</button>

        <h3 class="files">Previously uploaded files</h3>

    <tr>
        <th>Title</th>
        <th>Uploaded By</th>
        <th>File</th>
        <th>Date</th>
    </tr>
    {% for f in files %}
    <tr>
        <td>{{ f.title }}</td>
        <td>{{ f.user.username }}</td>
        <td><a href="{{ f.file.url }}">Download</a></td>
        <td>{{ f.uploaded_at }}</td>
    </tr>
    {% endfor %}

        
    {% else %}
        <h2>Welcome, guest! Please log in or register.</h2>

        <p>Users will be able to upload files, view a list of uploaded files, and download them anytime. 
        The project also includes pages like Home, About, and Contact to explain what the app does and how to get in touch.</p>
    
                <button onclick="location.href='/register/'">Register for Account</button>
        <button onclick="location.href='/login/'">Login to Account</button>
    {% endif %}

</body>
</html>