<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage Site</title>
</head>
<body>
    <h1>This is a simple Django-powered file storage web app.</h1>
    <p>Users will be able to upload files, view a list of uploaded files, and download them anytime. 
    The project also includes pages like Home, About, and Contact to explain what the app does and how to get in touch.</p>

    <button onclick="location.href='/register/'">Register for Account</button>
    <button onclick="location.href='/login/'">Login to Account</button>
</body>
</html>